@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #023047;
}

.main-content{
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section{
    grid-column: span 3;
    height: 100%;
    background-color: #F3F4F2;
    border: 1px solid black;
}
.right-section{
    grid-column: span 4;
    background-color: #f7f7f7;
    height: 100%;
}


.left-content{
    padding: 2rem 3rem;
}
.profile{
    width: 100%;
}

.image{
    width: 100%;
    text-align: center;
}
.profile img{
    width: 350px;
    border-radius: 10%;
    border: 3px solid #002333;
    
}

.name{
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 2rem 0;
}

.career{
    font-size: 1.5rem;
    color: #0056c7;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: .5rem;
}

.main-title{
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000000ec;
    padding-top: 4rem;
    font-family: 'Anonymous Pro', monospace;
}

.contact-info ul{
    padding-top: 2rem;
    margin-left: 20px;
}

.contact-info ul li{
    padding: .4rem 0;
    display: flex;
    align-items: center;
    color: #000000;
}
.contact-info ul li i{
    padding-right: 1rem;
    font-size: 1.2rem;
    color: #000000;
}

.skills-section ul{
    padding-top: 2rem;
}
.skills-section ul li{
    padding: .4rem 0;
    color: #000000;
}

.skill-title{
    color: #000000;
    font-size: 1rem;
    margin-left: 20px;
}

.sub-title{
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f7f7f7;
}

.right-main-content{
    padding: 2rem 3rem;
    margin-top: 5rem;
}


.right-title{
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 2rem;
    margin-top: 4rem;
    position: relative;
    font-family: 'Anonymous Pro', monospace;
}

.para{
    line-height: 1.6rem;
    color: #151616;
    font-size: 1.1rem;
    padding: 20px;
}

.sect{
    padding-bottom: 2rem;
}

.timeline{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #131313;
    text-transform: uppercase;
}
.tl-title-2{
    letter-spacing: 1px;
    font-size: 1.3rem;
    color: #131313;
    text-transform: uppercase;
}

.tl-content{
    border-left: 1px solid #ccc;
    padding-left: 2rem;
    position: relative;
    padding-bottom: 2rem;
}

.tl-title-2::before{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    background-color: #000000;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
}

/*Media Queries*/

@media screen and (max-width:823px){
    .right-title::after{
        width: 40%;
    }
}
@media screen and (max-width:681px){
    .right-title::after{
        width: 30%;
    }
}
@media screen and (max-width:780px){
    .left-section{
        grid-column: span 3;
    }
    .right-section{
        grid-column: span 4;
    }
    .timeline{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width:1200px){
    .main-content{
        grid-template-columns: repeat(1, 1fr);
    }
    .profile img{
        width: 40%;
    }
}
@media screen and (max-width:700px){
    .profile img{
        width: 60%;
    }
}
@media screen and (max-width:390px){
    .name{
        font-size: 1.5rem;
    }
}